/*=========== 00. RESET CSS ================ */	
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:before, :after  {
    box-sizing: border-box;
}
a, span, :before, :after { 
    display: inline-block; 
}
:focus {
    outline: none;
}
ul, ol, li {
    list-style-type: none;
    margin:0
}
a {
    text-decoration: none !important;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
img {
    width: 100%;
}
video{
    width: 100%;
}
body {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
    line-height: 1.285;
    color: #fff;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #161616;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*=========== 00. General ================ */
.img {
    // border: 1px solid #dbdbdb;
    display: block;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.img-1-1::before {
    content: '';
    display: block;
    padding-top: 100%; 
    background-color: transparent;
}

.img-2-1::before {
    content: '';
    display: block;
    padding-top: 50%; 
    background-color: transparent;
}
.img-3-2::before {
    content: '';
    display: block;
    padding-top: 66.666%; 
    background-color: transparent;
}
.hm-row {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
    > [class*="hm-col-"],&[class*="hm-column-"] .item{
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px ;
    }
    
}
.hm-col-12 {
    width: 100%;
}
.hm-col-11{
    width: 91.6666%
}
.hm-col-10{
    width: 83.33333%
}
.hm-col-9 {
    width: 75%;
}
.hm-col-8 {
    width: 66.666%;
}
.hm-col-7 {
    width: 58.3333%;
}
.hm-col-6 {
    width: 50%;
}
.hm-col-5 {
    width: 41.6666%;
}
.hm-col-4 {
    width: 33.33333%;
}
.hm-col-3 {
    width: 25%;
}
.hm-col-2 {
    width: 16.6666%;
}
.hm-col-1{
    width: 8.33333%;
}
.hm-push-1 {
    margin-right: 8.3333%;
}
.hm-push-2 {
    margin-right: 16.6666%;
}
.hm-push-3 {
    margin-right: 25%;
}
.hm-push-4 {
    margin-right: 33.333%;
}
.hm-push-5 {
    margin-right: 41.6666%;
}
.hm-push-6 {
    margin-right: 50%;
}
.hm-push-7 {
    margin-right: 58.333%;
}
.hm-push-8 {
    margin-right: 66.666%;
}
.hm-push-9 {
    margin-right: 75%;
}
.hm-push-10 {
    margin-right: 83.3333%;
}
.hm-pull-1 {
    margin-left: 8.3333%;
}
.hm-pull-2 {
    margin-left: 16.6666%;
}
.hm-pull-3 {
    margin-left: 25%;
}
.hm-pull-4 {
    margin-left: 33.333%;
}
.hm-pull-5 {
    margin-left: 41.6666%;
}
.hm-pull-6 {
    margin-left: 50%;
}
.hm-pull-7 {
    margin-left: 58.333%;
}
.hm-pull-8 {
    margin-left: 66.666%;
}
.hm-pull-9 {
    margin-left: 75%;
}
.hm-pull-10 {
    margin-left: 83.3333%;
}
.hm-row.va-m [class*="hm-col-"] {
    vertical-align: middle;
}
.text-c {
    text-align: center;
}
.margin-auto{
    margin: 0 auto;
}
.hm-column-6 .item {
    width: 16.6666%;
    &:not(:nth-child(-n + 6)){
    margin-top: 30px;
    }
}
.hm-column-5 .item {
    width: 20%;
    &:not(:nth-child(-n + 5)){
    margin-top: 30px;
    }
}
.hm-column-4 .item {
    width: 25%;
    &:not(:nth-child(-n + 4)){
    margin-top: 30px;
    }
}
.hm-column-3 .item {
    width: 33.3333%;
    &:not(:nth-child(-n + 3)){
    margin-top: 30px;
    }
}
.hm-column-2 .item {
    width: 50%;
    &:not(:nth-child(-n + 2)){
    margin-top: 30px;
    }
}
.hm-column-1 .item {
    width:100%;
    &:not(:nth-child(-n + 1)){
    margin-top: 30px;
    }
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.hm-input-group {
    position: relative;
    font-size: 14px;
}
.hm-btn{
    background-color: transparent;
    border: none;
}
.hm-container-fluid{
    background-color: #1f1f1f;
}
.pl-0{
    padding-left: 0 !important;
}
.pr-o{
    padding-right: 0 !important;
}
.plr-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* ====================01 header=================== */
header{
    // position:fixed;
    // top: 0;
    // left: 0;
    // z-index: 9999999;
    // right: 0;
    .logo{
        width: 130px;
        a{
            padding: 10px 0;
        }
    }
    .contact{
        float: right;
        a{
            margin-right: 20px;
            padding: 20px 0;
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 25px;
                height: 25px;
            }
            
        }
    }
    .search-header{
        padding: 25px 0;
        input{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            padding: 25px;
            border: 1px solid #bbb;
            transition: all .3s ease;
            background-color: #424242;
            border: none;
            font-style: italic;
            color: #767676;
            text-decoration: underline;
            &:hover,
            &:focus{
                width: 100%;
                border-radius: 30px;
                padding: 20px 40px 20px 15px;
            }
        }
        i{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            color: #cdcdcd;
            
        }
    }
}

/* ==================nav=================== */
nav{
    z-index: 999;
    position: relative;
    cursor: pointer;
        .hm-conntainer-fluid{
        background-image: linear-gradient(to top, #000, #292929);
        .container{
            .menu{
                text-align: right;
                >li{
                    display: inline-block;
                    position: relative;
                    >a{
                        color: #fff;
                        font-weight: 900;
                        padding: 35px 25px;
                        font-size: 20px;
                    }
                    &::before{
                        content: " ";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-image: linear-gradient(to top, #3a3b3b, #151414);
                        opacity: 0;
                        transition: all .3s ease;
                        pointer-events: none;
                    }
                    &:hover{
                        &::before{
                        opacity: .8;
                        }
                        >ul{
                            opacity: 1;
                            top: 100%;
                            pointer-events: all;
                            li{
                                a:hover{
                                    color:#234fdf;
                                }
                            }
                        }
                    }
                    ul{
                        position: absolute;
                        z-index: 9999;
                        top: 110%;
                        left: 0;
                        text-align: left;
                        background-image: linear-gradient(to top, #3a3b3b, #151414);
                        opacity: 0;
                        pointer-events: none;
                        transition: all .3s ease;
                        li{
                            width: 300px;
                            padding: 9px 20px;
                            a{
                                color: #fff;
                                width: 100%;
                                font-size: 20px;
                            }

                        }
                    }
                }
            }
        }
    }
}

/* ==================slide=================== */

.carousel-indicators{
    margin-bottom: 20px;
    li{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.5)
    }
    .active{
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1)
    }   
}
.carousel-caption{
    bottom: 40%;
    left: 50%;
    right: 0%;
    font-size: 40px;
    h5{
        font-size: 40px;
        font-weight: 900;
    }
    .hm-btn{
        /* z-index: 99999; */
        border: 2px solid #fff;
        color: #fff;
        text-align: right;
        padding: 10px;
        font-size: 22px;
        font-weight: 700;
        transition: all .3s ease;
        &:hover{
            background-color: #eee;
            color: #000;
            border: 2px solid #05254a;
        }
    }
}

/* ==============03.news ===================*/
.wrapper-content{
    margin-top: 25px;
    .hm-col-12{
        .hm-row{
            margin-top: 10px;
        }
    }
}
.news-title{
    font-size: 40px;  
    font-weight: 900;
    color: #fff;
    width: fit-content;
    position: relative;
    padding-right: 100px;
    &::after{
        content:" ";
        width: 100%;
        height: 4px;
        background-color: #cecece;
        background-image: linear-gradient(to right, #cecece, #161616);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.news-vid {
    .video{
        position: relative;
        cursor: pointer;
        &::before{
            content: "điểm tin game";
            text-transform: uppercase;
            font-weight: 900;
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 0;
            /* background-color: #000; */
            background-image: linear-gradient(-90deg, rgba(0,0,0,1), rgba(0,0,0,0));
            z-index: 9999;;
            padding: 10px 20px;
            padding-right: 60px;
            color: #fff;
            text-align: right;
        }
        .thumb{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            cursor: pointer;
            transition: all .3s ease;
            &::before{
                content: " ";
                background-color: rgba(255, 255, 255, .65);
                width: 138px;
                height: 138px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }
            &::after{
                position: absolute;
                top: 50%;
                left: 50%;
                content:" ";
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 35px solid rgba(255, 255, 255, 1);
                transform: translate(-35%, -50%) rotate(90deg);
            }
        }
    }
}
.news-img{
    overflow-y:scroll; 
    transition: all .3s ease;

    &::-webkit-scrollbar {
        width: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: transparent; 
        border-radius: 10px;
        width: 2px;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        background-color: #1f1f1f;
        transition: all .3s ease;
        // opacity: 1;
    }
    .post-block-news{
        &:not(:nth-child(-n + 1)){
            margin-top: 20px;
        }
        &::after{
            content: "Game hot tháng 69";
            text-transform: uppercase;
            font-weight: 900;
            position: absolute;
            bottom: 0;
            left: 30%;
            right: 0;
            /* background-color: #000; */
            background-image: linear-gradient(-90deg, rgba(0,0,0,1), rgba(0,0,0,0));
            z-index: 9999;;
            padding: 10px 20px;
            padding-right: 60px;
            color: #fff;
            text-align: right
        }
    }
}


/* ===================sidebar======================= */
#sidebar{
    .widgets{
        .widget-title{
            padding: 15px 10px;
            text-transform: uppercase;
            text-align: center;
            font-size: 30px;
            font-weight: bolder;   
            color: #825f95;
        }
        .list-brand{
            .brand{
                margin-top:40px;
            }
        }
    }
} 
/* =================== wrapper news 2======================= */
.wrapper-brand-news{
    background-color: #000;
    margin-top: 50px;
    padding: 20px 0;
}
.wrapper-news-2{
    
    .news-2{
        .wrapper-title{
            font-size: 18px;
            font-style: italic;
            border-bottom: 3px solid #2e3192;
            text-transform: uppercase;
            width: fit-content;
            padding: 10px 0;
            font-weight: 700;
        }
        .list-post-block{
            font-size: 0;
            margin-top: 25px;
            .post-block + .post-block{
                margin-top: 20px;
            }
            *{
                vertical-align: top;
            }
            .news-2-img{
                width: 33.333%;
                display: inline-block;
                padding-right: 15px;
            }
            .content{
                width: 66.6666%;
                display: inline-block;
                padding-left: 15px;
                .title{
                    font-size: 24px;
                    font-weight: 900;
                    a{
                        color: #fff;
                        &:hover{
                            color: #555;
                        }
                    }
                }
                .des{
                    color: #fff;
                    font-size: 16px;
                    width: 66.666%;
                    height: 42px;
                    overflow: hidden;
                    margin-top: 25px;
                }
                .author{
                    font-size: 14px;
                    color: #808080;
                    font-style: italic;
                    position: relative;
                    padding-left: 40px;
                    margin: 0;
                    span{
                        color: #1e35ab;
                        font-weight: 700;
                    }
                    &::before{
                        content: "";
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        background-color: #703333;
                        border-radius: 50%;
                        left: 0;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }
                }
            }
        }
    }
}
/* =================== wrapper product======================= */
.wrapper-products{
    margin: 50px 0 20px 0;
    .title-product{
        font-size: 25px;
        color: #fff;
        background-color: #05254a;
        padding: 10px 25px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .list-product{
        margin-top: 25px;
        .product{
            position: relative;
            h3{
                font-weight: 900;
                font-size: 15px;
                color: #fff;
                background-color: rgba(41, 41, 95, .6);
                position: absolute;
                bottom: 0;
                padding: 13px 0;
                text-align: center;
                left: 0;
                right: 0;
                z-index: 1;
                pointer-events: none;
                transition: all .3s ease;
                margin: 0;
                z-index: 2;
            }
            .des{
                position: absolute;
                top: 100%;
                bottom: 0%;
                left: 0;
                right: 0;
                padding: 5px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                pointer-events: none;
                transition: all .3s ease;
                z-index: 2;
            }
            &::before{
                content: " ";
                background-color: rgba(0,0,0,.8);
                position: absolute;
                top: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all .3s ease;
                z-index: 1;
            }
            .buy{
                position: absolute;
                padding: 8px 20px;
                right: -10px;
                bottom: 35px;
                background-color: #3399ff;
                z-index: 2;
                text-align: center;
                transition: all .5s ease;
                color: #fff;
                font-style: italic;
                pointer-events: none;
            }
            &:hover{
                h3{
                    bottom: 100%;
                    transform: translate(0, 100%);
                    font-size: 20px
                }
                .des{
                    top: 0%;
                    margin:20% 5px 20% 5px;
                    overflow-y:scroll;
                    pointer-events: all;

                    &::-webkit-scrollbar {
                        width: 4px;
                        pointer-events: all;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: transparent; 
                        border-radius: 10px;
                        width: 2px;
                    }
                    
                    &:hover::-webkit-scrollbar-thumb {
                        background-color: #1f1f1f;
                        transition: all .3s ease;
                        opacity: 1;
                    }
                }
                &::before{
                    top: 0;
                }
                .buy{
                    left: 0;
                    right: 0;
                    font-size: 20px;
                    bottom: 0;
                    pointer-events: auto;
                    &:hover{
                        font-size: 26px;
                    }
                }
            }
        }
        .rating{
            padding:5px 0;
            .star{
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url('../images/un-star.png');
                width: 30px;
                height: 30px;
                &.active{
                    background-image: url('../images/star.png');
                }
            }
        }
        .price{
            a{
                font-size: 15px;
                color: #fff;
                font-weight: 900;
            }
        }
    }
}
/* =================== footer======================= */
footer{
    .hm-container-fluid{
        background-color: #000;
        padding: 60px 0 15px 0;
        .container{
            .hm-col-2{
                .slogan{
                    font-size: 15px;
                    color: #fff
                }
                .contact{
                    margin-top: 40px;
                    ul{
                        li{
                            float: left;
                            a{
                                color: #fff;
                                font-size: 20px;
                                padding: 11px;
                                &:hover{
                                    color: #05254a;
                                }
                            }
                        }
                    }
                }
            }
            .hm-col-4{
                .widgets{
                    float: left;
                    &.widgets-forum{
                        margin-left: 50px;
                    }
                    .widgets-title h3{
                        font-size: 30px;
                        font-weight: 900;
                    }
                    ul{
                        li{
                            a{
                                font-size: 15px;
                                color: #fff;
                                padding: 10px 0;
                                &:hover{
                                    color: #05254a;
                                }
                            }
                        }
                    }
                }
            }
            .hm-col-5{
                .contact{
                    padding: 20px 35px;
                    background-color: #202028;
                    border-radius: 30px;
                    h3{
                        font-size: 30px;
                        font-weight: 900;
                    }
                    .left,.right{
                        display: inline-block;
                    }
                    .left{
                        width: 75px;
                    }
                    .right{
                        width: calc(100% - 90px);
                    }
                }      
            }
        }
        .last-footer{
            text-align: center;
            font-size: 24px;
            border-top: 4px solid #c0c0c2;
            margin-top: 90px;
            a{
                font-weight: 900;
                padding: 20px 0;
            }
        }
    }
}
/*================== product detail ============================*/
main{
    margin-top: 50px;
    margin-bottom: 50px;
    #sidebar02{
        padding: 10px;
        // border: 7px solid #004d9a;        
        .widgets{
            +.widgets{
                margin-top: 40px;
            }
            &.style-2{
                box-shadow: 1px 1px 10px rgba(255, 255, 255, .65);
                .widget-title{
                    h3{
                        color: #fff;
                        font-size: 20px !important;
                        background-color: #555;
                        text-transform: uppercase;
                        padding: 10px;
                    }
                }
                .widget-content{
                    padding: 10px;
                    + .widget-content{
                        border-top: 2px dashed #fff;
                    }
                    .img{
                        &::after{
                            content: '';
                            position: absolute;
                            top: 15px;
                            left: 15px;;
                            right: 15px;
                            bottom: 15px;
                            background-color: rgba(0,0,0,0);
                            transition: all .3s ease;
                        }
                        &:hover{
                            &::after{
                                top: 0;
                                left: 0;;
                                right: 0;
                                bottom: 0;
                                background-color: rgba(0,0,0,0.5);
                            }
                        }
                    }
                    h3{
                        text-align: center;
                        a{
                            color: #fff;
                            font-size: 18px;
                            text-transform: uppercase;
                            &:hover{color: #777};
                        }
                    }
                }
            }
        }
    }
    .hm-col-9{
        .product-detail{
            background-color: #00070d;
            border-radius: 10px;
            padding: 15px;
            position: relative;
            &::after{
                content: ' ';
                position: absolute;
                top: calc(100% + 20px);
                left: 25%;
                right: 25%;
                height: 2px;
                background-color: #fff;
            }
            .top-product-detail{
                .product-name{
                   h1{
                    font-size: 40px;
                    font-weight: 900;
                   }
                }
                .hm-col-8{
                    .slide-product{
                        overflow: hidden;
                        .product-img{
                            // display: none !important;
                            width: 0;
                            transition: all .7s ease;
                            &.active{
                                // display: block !important;
                                
                                width: 100%;
                            } 
                        }
                        .another-img{
                            font-size: 0;
                            margin: 0 -15px;
                            > *{
                                width: 33.333%;
                                display: inline-block;
                                padding: 15px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .hm-col-4{
                    #price{
                        p{
                            font-size: 25px;
                            &#old-price{
                                margin-top: 90px;
                                font-style: italic;
                            }
                            &.old-price{
                                text-decoration: line-through;
                            }
                            &.new-price{
                                font-weight: 900;
                            }
                        }
                        a{
                            font-style: italic;
                            width: 100%;
                            text-align: center;
                            background-color: #004d9a;
                            text-transform: uppercase;
                            padding: 5px;
                            color: #fff;
                            font-size: 26px;
                        }
                    }
                }
            }
        }
        .des{
            margin-top: 50px;
            h3{
                text-align: center;
                font-size: 25px;
            }
            p{
                font-size: 21px;
                font-weight: 100;
            }
            .des-img{
                width: 66.6666%;
                margin: 10px auto;
                .img-des{
                    font-size: 20px;
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}

